blockquote {
  display: block;
  line-height: 1.1em;
  font-size: 1em;
  color: #6b6b6b;
  margin-left: 20px;
}


#TOC {
  position: fixed;
  width: 300px;
  overflow:auto;
}


h2 {
  margin-top: 2em;
}

h3 {
  margin-top: 1.2em;
}

h4 {
  margin-top: 1em;
}


h5 {
  margin-top: 2.5em;
  margin-bottom:0.75em;
}



mark {
    background-color:#FFCC00;
}


.question {
    font-size:1.2em;
    font-weight:500;
    padding-bottom:10em;
    padding-top:2em;
}


answer {
    color:blue;
}